* {
  margin: 0px;
  padding: 0px; }

body {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 12px;
  color: #666; }

input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  border: 1px solid #DDDDDD; }

input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px #51cbee;
  border: 1px solid #51cbee; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

.wrapper {
  max-width: 960px;
  margin: 0 auto; }

.left {
  float: left; }

.right {
  float: right; }

.button {
  background-color: #0099ff;
  text-decoration: none;
  color: #fff;
  padding: 10px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border: 0; }
  .button:hover {
    background-color: gray;
    cursor: pointer; }

.link {
  color: #0099ff;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .link:hover {
    color: gray;
    cursor: pointer; }

.topBar {
  background-color: #2e2e2e;
  padding: 23px 0; }
  .topBar ul.navTop {
    margin-top: 10px; }
    .topBar ul.navTop li {
      display: inline-flex;
      font-size: 12px; }
      .topBar ul.navTop li:after {
        content: '|';
        padding-left: 4px;
        font-weight: 700; }
      .topBar ul.navTop li:last-child:after {
        content: ''; }
      .topBar ul.navTop li a {
        color: #9f9f9f;
        text-decoration: none; }
  .topBar ul.socialMedia {
    float: right; }
    .topBar ul.socialMedia li {
      display: inline-block;
      background: #787878 url(../images/social-media.png) 8px center no-repeat;
      border-radius: 50px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      -ms-border-radius: 50px;
      -o-border-radius: 50px;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      margin-right: 10px; }
      .topBar ul.socialMedia li:last-child {
        margin-right: 0px; }
      .topBar ul.socialMedia li.linkedin:hover {
        background-color: #058ce7; }
      .topBar ul.socialMedia li.twitter {
        background-position: -33px center; }
        .topBar ul.socialMedia li.twitter:hover {
          background-color: #058ce7; }
      .topBar ul.socialMedia li.pinterest {
        background-position: -76px center; }
        .topBar ul.socialMedia li.pinterest:hover {
          background-color: #db4a39; }
      .topBar ul.socialMedia li.google {
        background-position: -117px center; }
        .topBar ul.socialMedia li.google:hover {
          background-color: #db4a39; }
      .topBar ul.socialMedia li.seed {
        background-position: -159px center; }
        .topBar ul.socialMedia li.seed:hover {
          background-color: #f7a311; }
      .topBar ul.socialMedia li a {
        display: block;
        width: 32px;
        height: 32px; }

.header .wrapper {
  position: relative; }

.btnToggle {
  background-color: #2e2e2e;
  color: #fff;
  display: block;
  width: 31px;
  text-align: center;
  text-decoration: none;
  padding: 9px 0;
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 0 0 7px 7px;
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  -ms-border-radius: 0 0 7px 7px;
  -o-border-radius: 0 0 7px 7px; }

.inputSearch {
  width: 205px;
  padding: 10px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border: 0;
  background-color: #f1f1f1; }

.navMain {
  padding-top: 41px;
  border-bottom: 2px solid #f1f1f1; }
  .navMain a {
    text-decoration: none;
    color: #2e2e2e;
    font-size: 14px;
    text-transform: uppercase;
    padding-bottom: 20px;
    display: inline-block;
    margin-right: 20px; }
    .navMain a:last-child {
      margin-right: 0px; }
    .navMain a.active {
      border-bottom: 2px solid #0099ff; }

.logo {
  padding: 45px 0; }
  .logo h1 {
    font-weight: 400;
    font-size: 36px;
    color: #333;
    line-height: 3px; }
  .logo h2 {
    font-size: 12px;
    line-height: 14px;
    color: #999;
    font-weight: 400; }

.search {
  padding: 67px 0 45px; }

.slide {
  position: relative;
  background-color: #f1f1f1;
  color: #333333;
  padding-top: 10px;
  border-top: 5px solid #e9e9e9;
  border-bottom: 10px solid #e9e9e9; }
  .slide .wrapper {
    overflow-x: hidden; }
  .slide .slideItem {
    display: none; }
  .slide .slideItem.active {
    display: block; }
  .slide li {
    list-style: none;
    width: 100%;
    max-width: 960px;
    display: inline-block; }
  .slide .contentSlide {
    max-width: 352px;
    padding-top: 142px; }
    .slide .contentSlide h3 {
      font-size: 36px;
      line-height: 36px;
      font-weight: 400;
      margin-bottom: 20px; }
    .slide .contentSlide p {
      font-size: 16px;
      line-height: 22px;
      color: #666; }
    .slide .contentSlide a {
      display: block;
      width: 110px;
      font-size: 16px;
      margin-top: 20px; }
  .slide .imgSlide {
    max-width: 550px; }
    .slide .imgSlide li {
      list-style: none; }

.pagination {
  position: absolute;
  bottom: 20px;
  z-index: 99;
  left: 0;
  width: 100%;
  text-align: center; }
  .pagination span {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: 3px solid #000;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .pagination span.active {
      background-color: #000; }
    .pagination span:hover {
      background-color: gray;
      cursor: pointer; }

.thumb {
  max-width: 225px;
  text-align: center;
  margin: 0 20px 30px 0; }
  .thumb:nth-child(2n) {
    margin-right: 0px; }
  .thumb:nth-child(3) {
    margin-bottom: 0px; }
  .thumb:nth-child(4) {
    margin-bottom: 0px; }
  .thumb h5 {
    font-size: 16px;
    line-height: 19px;
    color: #0099ff;
    font-weight: 400; }
  .thumb p {
    font-size: 13px;
    line-height: 20px;
    color: #666;
    margin-top: 15px; }

.intro {
  padding-top: 40px; }
  .intro .aside-1 {
    width: 454px; }
  .intro .aside-2 {
    width: 470px; }

.contato {
  color: #333333;
  background-color: #e0e0e0;
  padding: 34px 21px;
  border-left: 10px solid #0099ff;
  margin: 40px 0; }
  .contato h4 {
    font-size: 36px;
    line-height: 42px;
    font-weight: 400; }
  .contato p {
    font-size: 18px;
    line-height: 21px; }
  .contato .button {
    font-size: 26px;
    color: #ded4d4;
    padding: 20px 12px;
    display: block; }

footer {
  padding: 40px 0;
  background-color: #1a1a1a;
  border-top: 5px solid #000; }
  footer .titleFooter {
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 23px; }
  footer .foot1 {
    width: 225px; }
    footer .foot1 img {
      border: 1px solid #555555;
      padding: 5px; }
    footer .foot1 p.texto {
      width: 209px;
      font-size: 12px;
      line-height: 19px;
      margin-top: 21px; }
  footer .menuFooter li {
    list-style: none;
    padding-bottom: 5px;
    border-bottom: 1px solid #232323;
    margin-bottom: 9px; }
  footer .menuFooter span {
    padding-right: 10px;
    color: #989898; }
  footer .menuFooter a {
    color: #0099ff;
    text-decoration: none; }
  footer .foot2 {
    width: 225px;
    margin-left: 20px; }
  footer .foot3 {
    width: 226px;
    margin: 0 19px; }
    footer .foot3 .post {
      margin-bottom: 10px; }
      footer .foot3 .post h5 {
        font-size: 14px; }
      footer .foot3 .post .date {
        font-size: 10px; }
        footer .foot3 .post .date span {
          display: block; }
      footer .foot3 .post .textoBlog {
        font-size: 12px;
        margin-top: 17px; }
      footer .foot3 .post .link {
        margin-top: 15px; }
  footer .foot4 {
    width: 225px;
    font-size: 13px; }
    footer .foot4 .input {
      width: 214px;
      display: block;
      background-color: #232323;
      border: 0;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      padding: 11px;
      margin-bottom: 10px;
      padding-right: 0; }
    footer .foot4 textarea {
      display: block;
      width: 214px;
      height: 110px;
      background-color: #232323;
      border: 0;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      padding: 11px;
      margin-bottom: 10px;
      padding-right: 0; }

.final {
  background-color: #222222;
  padding: 24px 0; }
  .final .right {
    text-align: right; }

.menuMobile a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  padding: 10px 10px 0;
  display: block; }

#nav-btn {
  position: absolute;
  border: #Bababa 1px solid;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #fff;
  transition: all 0.4s linear;
  display: none; }

#nav-btn:hover {
  border: #0061f2 1px solid; }

#nav-btn > div {
  width: 20px;
  height: 3px;
  background: #bababa;
  margin: 4px 0px;
  transition: all 0.4s linear; }

#nav-btn:hover div {
  background: #0061f2; }

#nav-slide {
  position: absolute;
  left: -250px;
  top: 81px;
  width: 250px;
  height: 0px;
  background: #2e2e2e;
  transition: left 0.4s linear; }

@media (max-width: 960px) {
  .wrapper {
    padding: 0 10px; }

  footer .foot2 {
    width: 197px; } }
@media (max-width: 768px) {
  #nav-btn {
    display: block; }

  .navTop {
    display: none; }

  .submenu a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    padding: 10px 10px 0;
    display: block; }

  .wrapper {
    max-width: 480px;
    padding: 0 10px; }

  .topBar .left {
    float: left; }

  .topBar ul.socialMedia li {
    margin-right: 5px; }

  .navMain {
    display: none; }

  .left {
    float: none; }

  .right {
    float: none; }

  .logo {
    text-align: center; }

  .search {
    text-align: center; }

  .slide .contentSlide {
    text-align: center;
    max-width: 100%; }

  .slide .contentSlide a {
    margin: 26px auto !important; }

  .imgSlide img {
    width: 100%; }

  .intro .aside-1 {
    margin-bottom: 50px; }

  .thumb {
    max-width: 100%;
    margin: 0px;
    margin-top: 10px; }

  .contato .right {
    text-align: center;
    margin-top: 33px; }

  footer .left {
    width: 100%;
    text-align: center;
    margin-bottom: 30px; }

  footer .foot1 p.texto {
    width: 100%; }

  .post {
    max-width: 93%; }

  .input {
    width: 90% !important;
    margin: 10px auto; }

  .textarea {
    width: 90% !important;
    margin: 10px auto; } }

/*# sourceMappingURL=main.css.map */
